.createPost {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 650px;
  height: 405px;
}

.createPost input {
  margin: 5px;
  width: 620px;
}

.createPost button {
  background-color: gray;
  width: 80px;
}

.reactQuill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 630px;
  padding: 5px;
}

.postButton {
  width: 100px !important;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 45px;
  cursor: pointer;
  border: 0.1px solid gray;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgba(8, 8, 8, 0.3);
}

.postButton:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 720px) {
  .container {
    height: 415px;
    width: 550px;
  }

  .createPost input {
    width: 500px;
  }

  .reactQuill {
    width: 510px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    height: 405px;
    width: 500px;
  }

  .createPost input {
    width: 450px;
  }

  .reactQuill {
    width: 460px;
  }
}

@media screen and (max-width: 510px) {
  .container {
    height: 405px;
    width: 445px;
  }

  .createPost input {
    width: 400px;
  }

  .reactQuill {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    height: 405px;
    width: 410px;
  }

  .createPost input {
    width: 372px;
  }

  .createPost button {
    background-color: gray;
    width: 80px;
  }

  .reactQuill {
    width: 380px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    height: 430px;
    width: 380px;
  }

  .createPost input {
    width: 350px;
  }

  .createPost button {
    background-color: gray;
    width: 80px;
  }

  .reactQuill {
    width: 360px;
  }
  .inputFile {
    margin-top: 70px !important;
  }
}

@media screen and (max-width: 385px) {
  .container {
    height: 430px;
    width: 360px;
  }

  .createPost input {
    width: 320px;
  }

  .createPost button {
    background-color: gray;
    width: 80px;
  }

  .reactQuill {
    width: 330px;
  }
}

@media screen and (max-width: 365px) {
  .container {
    height: 430px;
    width: 335px;
  }

  .createPost input {
    width: 290px;
  }

  .createPost button {
    background-color: gray;
    width: 80px;
  }

  .reactQuill {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    height: 430px;
    width: 300px;
  }

  .createPost input {
    width: 260px;
  }

  .createPost button {
    background-color: gray;
    width: 80px;
  }

  .reactQuill {
    width: 270px;
  }
}
