.createPost {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 77vh;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

.createPost button {
  background-color: gray;
  width: 80px;
}

.createPost input,
.createPost textarea {
  margin: 5px;
  width: 550px;
}

.createPost textarea {
  height: 200px;
}
