.createPost {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 650px;
  height: 405px;
}

.createPost input {
  margin: 5px;
  width: 620px;
}

.createPost button {
  background-color: gray;
  width: 80px;
}

.reactQuill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 630px;
  padding: 5px;
}

.postButton {
  width: 100px !important;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 45px;
  cursor: pointer;
  border: 0.1px solid gray;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgba(8, 8, 8, 0.3);
}

.postButton:hover {
  background-color: white;
  color: black;
}
