.meal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 25px 100px;
}

.mealHeader {
  display: flex;
  align-items: center;
}

.meal button {
  background-color: white;
}

.sentenceLabel {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

.mealContainer {
  display: flex;
  align-items: center;
}

.mealSource {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.mealInstruction {
  margin-left: 15px;
  height: 60vh;
  overflow: auto;
}
