.meal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 25px 100px;
}

.mealHeader {
  display: flex;
  align-items: center;
}

.meal button {
  background-color: white;
}

.sentenceLabel {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

.mealContainer {
  display: flex;
  align-items: center;
}

.mealSource {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.mealInstruction {
  margin-left: 15px;
  height: 60vh;
  overflow: auto;
}

.mealButton {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 225, 48, 0.835) !important;
  color: white;
}

.mealButton:hover {
  transform: scale(1.01);
  background-color: white !important;
  color: rgba(54, 225, 48, 0.835);
  border: 1px solid rgba(54, 225, 48, 0.835);
}

@media screen and (max-width: 1120px) {
  .mealContainer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 860px) {
  .youtubeBox {
    max-height: 255px;
    max-width: 375px;
  }
}

@media screen and (max-width: 720px) {
  .youtubeBox {
    max-height: 225px;
    max-width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .youtubeBox {
    max-height: 175px;
    max-width: 175px;
  }
  .meal {
    padding: 0px;
  }
}
