.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 75px;
  width: 100vw;
  background-color: #9f62127b;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.navLink {
  margin: 12.5px;
  color: white;
}

.navInput{
    width: 275px;
    height: 22.5px;
    border-radius: 25px;
    padding: 0px 10px;
}