.post {
  display: flex;
  flex-flow: column;
  margin: 20px 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  border-radius: 5px;
  width: 13.5vw;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.post h1 {
  font-size: 24px;
  padding: 0 7.5px;
}

.post p {
  line-height: 5px;
  padding: 0px 7.5px;
}

.postImg {
  height: 200px;
  width: 100%;
}

.postCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(-22.5px);
}

@media screen and (max-width: 960px) {
  .post {
    width: 22vw;
  }
}

@media screen and (max-width: 760px) {
  .post {
    width: 28vw;
  }
}

@media screen and (max-width: 650px) {
  .post {
    width: 32vw;
  }
}

@media screen and (max-width: 460px) {
  .post {
    width: 40vw;
  }
}

@media screen and (max-width: 460px) {
  .post {
    width: 42vw;
  }
}
